aside {
  @include flex(column, $justify: space-between, $align: center);
  @include position(fixed, $top: 0, $left: 0, $bottom: 0);
  border-right: 1px solid rgba($main-font-color, 0.1);
  background-color: $second-fill-color;
  width: 6.5rem;
  z-index: 99;
  padding: 1rem 0;
  .logo {
    font-size: 3rem;
    @include mediaQuery(width1600) {
      font-size: 3.4rem;
    }
  }
  nav {
    div {
      @include flex(column, $align: center);
      width: 6.5rem;
      cursor: pointer;
      padding: 0.4rem 0;
      &.active {
        color: $second-font-color;
      }
      &:hover {
        .desktop-nav-icon,
        span {
          color: $second-font-color;
        }
      }
      .desktop-nav-icon {
        width: 2.5rem;
        transition: color 0.2s ease-in;
      }
      span {
        font-size: 1.3rem;
        transition: color 0.2s ease-in;
      }
    }
  }
  .socials {
    @include flex(column, $align: center);
    a {
      color: rgba($main-font-color, 0.8);
      padding: 0.3rem 0rem;
      width: 6.5rem;
      text-align: center;
      &:hover {
        color: $second-font-color;
      }
      .desktop-social-icon {
        width: 2rem;
        @include mediaQuery(width1600) {
          width: 2.2rem;
        }
      }
    }
  }
}
